################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XamarinFormsShell/v15
/XamarinFormsShell/XamarinFormsShell/obj
/XamarinFormsShell/XamarinFormsShell.Android/obj
/XamarinFormsShell/XamarinFormsShell.iOS/obj
/XamarinFormsShell/XamarinFormsShell.UWP/obj
/XamarinFormsShell/XamarinFormsShell.Android/bin/Debug
/XamarinFormsShell/XamarinFormsShell/bin/Debug/netstandard2.0
/.vs/XamarinFormsShell/DesignTimeBuild
/XamarinFormsShell/XamarinFormsShell.iOS/bin/iPhoneSimulator/Debug
/XamarinFormsShell/XamarinFormsShell.UWP/bin/x86/Debug
/XamarinFormsShell/XamarinFormsShell.iOS/XamarinFormsShell.iOS.csproj.user
